$primaryColor: #260108;
$menuColor: #590212;

$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 5%;


//Color Pallet
/*
#590212
#260108
#580259
#3F0140
#0D0000
*/
