header, nav, main, footer {
        max-width: 1200px;
        margin: auto;}

div#pageWrapper {
    grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
    grid-template-columns: 100%;
}//end of pageWrapper

nav {
    padding: .5rem 2vw;
    ul {display: flex;justify-content: flex-start;}
    ul li {border: none;}
    ul li a {
        margin: .5rem .3rem;
    }
}//end of nav
main{
    div.card {
        figure img {
            max-width: 100%;}
    }
}
