$primaryColor: #038C7F;
$secondaryColor: #05F2DB;
$menuColor: #8C0303;
$highlight: #F20505;
$dark: #0D0D0D;

$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 2vw;


//Color Pallet
/*
#05F2DB
#038C7F
#F20505
#8C0303
#0D0D0D
*/
