$primaryColor: #F2CDA0;
$secondaryColor: #A65C32;
$menuColor: #85A0A6;
$highlight: #DFEDF2;
$dark: #593825;

$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 2vw;


//Color Pallet
/*
#DFEDF2
#85A0A6
#F2CDA0
#A65C32
#593825
*/
