$primaryColor: #6732D9;
$secondaryColor: #BF2121;
$menuColor: #262626;

$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 2vw;


//Color Pallet
/*
#6732D9
#7648D9
#D9C2BA
#BF2121
#262626
*/
