header, nav, main, footer {
        max-width: 1200px;
        margin:auto;}


nav {
    ul {padding-right: $gutter; display: flex; justify-content: right;}
    li {width:auto;}
    a {padding: .7rem 1rem;}
}//end of nav

div.produceGallery figure {
    flex-basis: 25%; padding: 5px;}
