/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-size: 16px;
}

div#headerWrapper {background-color: $primaryColor;}

header {
    padding: .5rem $gutter;
    display: grid;
    grid-template-columns: 110px auto;
    align-items: flex-end;
    h1 {
	margin: 0;
	font-size: 2rem;
    font-weight: $heavyWeight;}
    h2{
	margin: 0;
	font-size: 1.2rem;
	font-weight: $regularWeight;
    display: none;
    padding-top: .5rem;}
} //end of header

div#navWrapper {background-color: #BF3604;}
nav {
    ul{margin: 0; padding: 0;}
    li {list-style-type: none;}
    li.active {background-color: darken(#BF3604, 10%); font-weight: $lightWeight;}
    a {
    display: block;
    padding: .9rem 1.5rem; /*44px min*/
    color: #eee;
    text-align: right;
    text-decoration: none;
    }
    a:hover {text-decoration: underline 3px lighten(#BF3604, 10%)}
}//end of nav

div#mainWrapper {background-color: lighten($primaryColor, 20%);}

/*Gallery*/
div.produceGallery {
    display: flex; flex-wrap: wrap;}
div.produceGallery figure {
    flex-basis: 50%; margin: 0;}
div.produceGallery figure img {
    max-width: 100%; height: auto;}
div.produceGallery figcaption {text-align: center;}

main{display: block; padding: 1rem $gutter; background-color: white;
    h1 {color: darken($primaryColor, 40%);
    font-weight: $heavyWeight;}
} //end main

div#footerWrapper {background-color: $primaryColor;}
footer {
    color: black;
    text-align: center;
    padding: 1rem $gutter;
    font-weight: $lightWeight;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
