header h2 {display: block;}

nav li {width: 25%; float: left;}
nav a {text-align: center;}

main figure {
        float: right;
        width: 50%;
        margin-left: 2%;
        padding-bottom: .5rem;
}


