$primaryColor: #1C5931;
$menuColor: #5C736A;

$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 2vw;


//Color Pallet
/*
#5C736A
#012611
#1C5931
#010D00
#D9D9D9
*/
