$primaryColor: #6A8A93;
$menuColor: #889BA3;

$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 2vw;


//Color Pallet
/*
#889BA3
#E8E2DE
#AABABC
#CFCCC5
#6A8A93
*/
