$primaryColor: #193441;
$secondaryColor: #3E606F;
$menuColor: #91AA9D;

$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 2vw;


//Color Pallet
/*
#FCFFF5
#D1DBBD
#91AA9D
#3E606F
#193441
*/
