$primaryColor: #4C6473;
$menuColor: #012340;

$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 10%;


//Color Pallet
/*
#51658C
#B8C3D9
#0D3973
#012340
#262401
*/
