header, nav, main, footer, div#blackbar, picture.heroimage {
        max-width: 1200px;
        margin:auto;}
nav {
    ul {padding-left: 9vw; display: flex;}
    li {width:auto;}
    a {padding: .5rem 1rem;}
}//end of nav

main {
    @for $i from 1 through 12 {
        $w:($i/12)*100%;
        .large-#{$i} {flex-basis: $w;}
    }
}
main figure {width: 50%;}
