$primaryColor: #0480b1;


$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 10%;

//Color Pallet
/*
Grey-Blue: #4C6473
Bright Yellow: #F2B705
Bright Orange: #F29F05
Salmon Pink: #F28F79
Brick Red: #A62929
*/
