$primaryColor: #038C7F;
$secondaryColor: #05F2DB;
$menuColor: #8C0303;
$highlight: #F20505;
$dark: #0D0D0D;

$fontFamily: 'Roboto', sans-serif;
$lightWeight: "300";
$regularWeight: "400";
$heavyWeight: "700";

$gutter: 10%;

//Color Pallet
/*
Grey-Blue: #4C6473
Bright Yellow: #F2B705
Bright Orange: #F29F05
Salmon Pink: #F28F79
Brick Red: #A62929
*/
