header, nav, main, footer {
        max-width: 1200px;
        margin:auto;}
nav {
    ul {padding-left: 9vw; display: flex; justify-content: left;}
    li {width:auto;}
    a {padding: .5rem 1rem;}
}//end of nav

main figure {width: 50%;}
